<% @reviews.each do |review| %>
  <% if review.image.url != nil %>
    <div class="col-sm-4 main-content-item1" style="background-image: url('<%= image_path(review.image.url) %>');
      background-size: cover; background-position: center; background-repeat: no-repeat;">
      <div class="" style="font-size: 2em; font-weight: bold;">
        <%= link_to review.title, review, style: "color: white !important;
          background: rgba(136,136,136,0.62)" %>
      </div>
    </div>
  <% else %>
    <div class="col-sm-4 main-content-item1" style="background-image: url('http://img1.cookinglight.timeinc.net/sites/default/files/styles/4_3_horizontal_-_1200x900/public/image/2016/12/main/grapefruit-soda.jpg?itok=VOZWdiFr');
      background-size: cover; background-position: center; background-repeat: no-repeat;">
      <div class="" style="font-size: 2em; font-weight: bold;">
        <%= link_to review.title, review, style: "color: white !important;
          background: rgba(136,136,136,0.62)" %>
      </div>
    </div>
  <% end %>
<% end %>
