@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: Oswald;
  font-weight: lighter;
}

.dropbtn {
  background-color: #f9f9f9;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 16px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #666666;
}

.dropdown {
  position: absolute;
  display: inline-block;
  background-color: #f9f9f9;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.dropdown-content a {
  color: #666666;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-right {
  float: right !important;
  margin-right: 50px;
}

.view-port {
  margin-top: 7vh;
  min-height: 93vh;
  position: relative;
  padding-bottom: 250px;
}

.form-center {
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  margin-top: 10vh;
  padding: 20px 10px 2vh;
  filter: blur(.3);
  border-radius: 10px;
  box-shadow: 0px 0.1875rem 0.4375rem rgba(0, 0, 0, 0.25);
}

.btn-form {
  width: 100%;
  margin: 20px 0;
  padding: 15px 0;
  border: 0;
  box-shadow: 0px 0.1875rem 0.4375rem rgba(0, 0, 0, 0.25);
  background: linear-gradient(to right, #4ca1af, #90c3d0);
  
  &:hover {
      background: linear-gradient(to right, #2980b9, #2c3e50);
  }
}

#error_explanation {
  h2 {
    color: red;
    font-size: 1em;
  }
}

.notice {
  opacity: 0;
  padding: 10px 20px;
  width: 19.5%;
  background: white;
  position: fixed;
  bottom: 17%;
  left: 7%;
  border-radius: 5px;
  animation: fadeInOut 5s ease 1s forwards;
  z-index: 9999;
  box-shadow: 2px 6px 11px rgba(34, 34, 34, 0.68);
}

@keyframes fadeInOut {
  from, to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  30%, 50%, 70% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInOut {
  -webkit-animation-name: fadeInOut;
  animation-name: fadeInOut;
}

.navbar-brand {
  font-size: 2em;
  font-family: Allan;
  text-transform: none;
}

.navbar-default {
  text-transform: uppercase;
  box-shadow: 3px -1px 11px rgba(34, 34, 34, 0.68);
}

@keyframes fadeBlur {
  from, to {
    filter: blur(5px);
  }
  20%,80% {
    filter: blur(0);
  }
}

.fadeBlur {
  animation-name: fadeBlur;
}

.main-content {
  height: 93vh;
}

.search-bar {
  height: 75px;
  background: white;
  box-shadow: 3px -1px 11px rgba(34, 34, 34, 0.68);
}

.main-content-item1 {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 280px;
  background: url("https://media.foody.vn/res/g69/688272/s180x180/foody-royaltea-tran-dang-ninh-304-636421318206025687.jpg");
}

.main-content-item3 {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 280px;
  background: url("https://media.foody.vn/res/g69/688272/s180x180/foody-royaltea-tran-dang-ninh-872-636421318257279685.jpg");
}

.main-content-item2 {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 280px;
  background: url("https://media.foody.vn/res/g69/681411/s180x180/foody-tra-sua-gong-cha-hang-cot-815-636390259921289304.jpg");
}

footer {
  box-shadow: 3px -1px 11px rgba(34, 34, 34, 0.68);
  background: gray;
  height: 200px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.form-control-content {
  min-height: 130px;
}

.btn-fb {
  background: #4C69BA;

  &:hover {
    background: #33488b !important;
  }
}

.avatar {
  height: 240px;
  background: url('https://jobseekers.vn/wp-content/themes/sb_theme/assets/images/default_avatar.png') center center no-repeat cover;
}

.h2style {
  font-size: 2em;
}

.item-show-img {
  height: 270px;
  padding: 0 !important;
}

.img-title3 {
  font-size: 2em;
}

.img-overlay {
  padding: 5px 10px;
  background: rgba(192, 192, 192, 0.53);
}

.panel {
  border: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.panel-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.22);
  padding: 10px;
}

.panel-body {
  padding: 0;
}

.user-nav-btn {
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.62);
  transition: .1s;
}

.user-nav-btn:hover {
  color: rgb(255, 101, 47);
}

.info {
  padding: 10px;
}

.nav-content {
  transition: 1s;
}

.btn {
  text-transform: uppercase;
  font-size: 1.2em;
}

.btn-facebook {
  width: 100%; padding: 10px 0;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  text-transform: uppercase; font-size: 1.2em; margin-top: -5px;
}

.review-header {
  height: 300px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.form-new-review {
  margin-top: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.form-control {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 0;
  background: rgb(249, 249, 249);
}

.form-control:focus {
  box-shadow: none;
  border-bottom: 1px solid rgba(53, 197, 255, 0.74);
  background: rgb(239, 239, 239);
}

.btn-review-nav {
  padding: 7px 10px;

  &:hover {
    background: rgba(230, 225, 232, 0.75);
  }

  &:active {
    background: rgba(214, 206, 217, 0.75);
  }
}

.active {
  background: rgba(179, 231, 149, 0.75);
}

.btn-comment {
  margin: -5px 10px 0;
  background: #4fafff;
  color: white;

  &:hover {
    background: #4893dc;
    color: white;
  }

  &:active {
    background: #4180c2;
  }
}

.btn-edit {
  margin: -5px 10px 0;
  background: #ff9d45;
  padding: 10px 30px;
  color: white;

  &:hover {
    background: #eb913f;
    color: white;
  }

  &:active {
    background: #c77833;
  }
}

.comment-header {
  position: relative;

  .absolute {
    position: absolute;
  }
}
